@charset "UTF-8";

body{
	text-align: center;
	margin-top: 10%;
	background-image: url(image/white_back.jpg);
}

form{
	margin: 0;
	padding-top: 1%;
}

p{
	margin-bottom: 0;
}

select{
	width: 170px;
}
table{
 	margin-left: auto;
    margin-right: auto;
}

